/* build time:Sun Jun 18 2023 20:57:44 GMT+0800 (China Standard Time)*/
body{background-color:#000;height:100%;margin:0;padding:0}#loading{padding:20px;font-family:Fira Code,Monaco,Consolas,Ubuntu Mono,monospace;color:#fff}
/* rebuild by neat */